<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Shows</title>
</head>
<header class="py-3">
    <ul class="nav">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/Shows" class="nav-link">Shows</a></li>
    </ul>
</header>
<main>
    <h1>Header works</h1>
    