<%-include("partials/header.ejs") %>
<div class="about">
<h1>Hi, I`m Katy 👋</h1>
<p>I`m web-developer. I made this website for practice, using public api. Here you can see completed library of all TV shows(movies,series,cartoons etc) from over the world.
    
</p>
</div>
<%-include("partials/footer.ejs") %>